<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aizek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526D75C31A5EAF640041530A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E953D41A0B596E007C84D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E953F01A0B596E007C84D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
